<div class="bg-[--primary-color] h-full">
    <div class="w-full pt-[25dvh]">
        <div class="w-full bg-[--primary-color-white] rounded-t-[30px] h-[1000px] flex flex-col items-center ">
            <div #dp class="sticky top-0 w-full flex items-center mt-[-75px] p-[20px] "
                 [class]="isElementOnTop?'bg-[--primary-color] text-[--primary-color-white] gap-x-[20px]':
                 'bg-transparent text-[--primary-color] flex-col text-center gap-y-[10px]'">
                <!--edite profile button-->
                <a class="edite-button" routerLink="/user/edit">
                    <span class="material-icons-round">edit</span>
                </a>
                <!--end-->
                <!--profile picture-->
                <div class=" aspect-[1] rounded-[50%] overflow-hidden flex justify-center items-center bg-[grey]"
                     [class]="isElementOnTop?'w-[70px]':'w-[150px]'">
                    <img [src]="profileData.profilePicture" alt="dp" class="object-center">
                </div>
                <!--end-->
                <!--name and designation-->
                <div class="relative">
                    <h1 class="text-2xl font-[500]" [innerText]="profileData?.name"></h1>
                    <span [innerText]="profileData?.title"></span>
                </div>
                <!--end-->
            </div>
            <div class="px-[20px] text-[#bcb8b1] bg-[--primary-color-white]"
                 [class]="isElementOnTop?'pt-[20px]':''">
                <!--description -->
                <p class="text-[12px] text-center" [innerText]="profileData?.description"></p>
                <!--end-->
                <!--social media links-->
                <ul class="my-[2rem] flex justify-between">
                    @for (item of socialMediaList; track item) {
                        <li>
                            <a class="social-media-buttons">
                                <img [src]="item.icon" alt="social media icon">
                            </a>
                        </li>
                    }
                </ul>
                <!--end-->
                <!--contact info-->
                <ul>
                    <li>
                        <a class="contact-info" href="tel:{{profileData.mobile}}">
                            <span class="material-icons-round">phone</span>
                            <span [innerText]="profileData?.mobile"></span>
                        </a>
                    </li>
                    <li>
                        <a class="contact-info" href="mailto:{{profileData.email}}">
                            <span class="material-icons-round">email</span>
                            <span [innerText]="profileData.email"></span>
                        </a>
                    </li>
                    <li>
                        <a class="contact-info">
                            <span class="material-icons-round">location_on</span>
                            <span [innerText]="profileData.address"></span>
                        </a>
                    </li>
                    <li>
                        <a class="contact-info" [href]="profileData.website">
                            <span class="material-icons-round">public</span>
                            <span [innerText]="profileData.website"></span>
                        </a>
                    </li>
                </ul>
                <!--end-->
            </div>
        </div>
    </div>
</div>