<div>
    <ng-form [formGroup]="formUserDetails" class="flex justify-center p-[1rem] flex-col">
        <shared-text-input type="text"
                           label="Name"
                           placeholder="Name"
                           formControlName="name"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Title"
                           placeholder="Title"
                           formControlName="title"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-area-input label="Bio"
                           placeholder="Bio"
                           formControlName="bio"
                           [isLabelHidden]="true"></shared-text-area-input>
        <shared-text-input type="text"
                           label="Mobile"
                           placeholder="Mobile"
                           formControlName="mobile"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Office"
                           placeholder="Office"
                           formControlName="office"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Email"
                           placeholder="Email"
                           formControlName="email"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Address1"
                           placeholder="Address1"
                           formControlName="address1"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Address2"
                           placeholder="Address2"
                           formControlName="address2"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Address3"
                           placeholder="Address3"
                           formControlName="address3"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Website"
                           placeholder="Website"
                           formControlName="website"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Facebook"
                           placeholder="Facebook"
                           formControlName="facebook"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Twitter"
                           placeholder="Twitter"
                           formControlName="twitter"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Instagram"
                           placeholder="Instagram"
                           formControlName="instagram"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Whatsapp"
                           placeholder="Whatsapp"
                           formControlName="whatsapp"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Linkedin"
                           placeholder="Linkedin"
                           formControlName="linkedin"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-text-input type="text"
                           label="Snapchat"
                           placeholder="Snapchat"
                           formControlName="snapchat"
                           [isLabelHidden]="true"></shared-text-input>
        <shared-submit-button customCSSClasses="mt-3"
                              buttonText="Save Changes"
                              (onSubmit)="submitForm()"></shared-submit-button>
    </ng-form>
</div>